<template>
    <v-container class="mb-0 pb-0">
        <v-row class="d-flex flex-column justify-center align-center">
            <p class="title">Retrofit Your Equipment Today</p>
            <p class="subtitle">Collect the data you need to make important decisions tomorrow.</p>
            <v-btn color="primary" variant="flat">Contact Us</v-btn>
        </v-row>

        <v-row class="d-flex justify-center align-center my-10">
            <v-col cols="8">
                <v-carousel :show-arrows="false" cycle height="500">
                    <v-carousel-item :src="header" cover />
                    <!-- <v-carousel-item :src="header2" cover /> -->
                    <v-carousel-item :src="header3" cover />
                    <v-carousel-item :src="header4" cover />
                </v-carousel>
            </v-col>
        </v-row>

        <v-row class="d-flex flex-column justify-center align-center my-10">
            <p class="text-button text-primary">WE UNDERSTAND YOUR STRUGGLE</p>
            <p class="text-h4 font-weight-bold mt-5">Manual Operations Result In</p>
        </v-row>

        <v-row justify="center" class="mb-10">
            <v-card elevation="0" width="350" class="mx-5">
                <v-img :src="puzzle" cover height="300" />
                <v-card-title class="card-title">Missing Data</v-card-title>
                <v-card-text class="card-text">Are you missing the data to put all of the pieces together?</v-card-text>
            </v-card>
            <v-card elevation="0" width="350" class="mx-10">
                <v-img :src="quality" cover height="300" />
                <v-card-title class="card-title">Quality</v-card-title>
                <v-card-text class="card-text">Incosistent quality is costing you in rework and waste.</v-card-text>
            </v-card>
            <v-card elevation="0" width="350" class="mx-5">
                <v-img :src="wastedTime" cover height="300" />
                <v-card-title class="card-title">Wasted Time</v-card-title>
                <v-card-text class="card-text">Are you dealing with downtime caused by avoidable injuries or employee
                    fatigue?</v-card-text>
            </v-card>
        </v-row>
    </v-container>

    <v-row class="my-0 py-10 bg-primary" align="text-center" no-gutters>
        <v-spacer />
        <v-col cols="5" align="center" class="py-10 text-h4 font-weight-light about">
            Your machinery is valuable but lacks modern data features. Guild Automation can retrofit it to
            extract
            the missing data you need, unveiling crucial insights without the high costs of replacing your existing
            equipment.
        </v-col>
        <v-spacer />
    </v-row>

    <v-container>
        <v-row class="justify-center align-center mt-10 mb-5">
            <p class="text-button text-primary">Our Process</p>
        </v-row>

        <v-row justify="space-evenly" align="start">
            <v-col cols="2"></v-col>

            <v-col cols="2">
                <v-card elevation="0">
                    <v-img :src="onsiteMeeting" height="200" aspect-ratio="1" cover />
                    <v-card-title align="center" class="mt-5">
                        1. UNDERSTAND
                    </v-card-title>
                    <v-card-text align="center">
                        We meet with you on-site to ensure we fully appreciate the context and challenges you are facing.
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="2">
                <v-card elevation="0">
                    <v-img :src="identify" height="200" aspect-ratio="1" cover />
                    <v-card-title align="center" class="mt-5">
                        2. IDENTIFY
                    </v-card-title>
                    <v-card-text align="center">
                        After fully understanding your problem we set out to find the best solution for you.
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="2">
                <v-card elevation="0">
                    <v-img :src="execute" height="200" aspect-ratio="1" cover />
                    <v-card-title align="center" class="mt-5">
                        3. EXECUTE
                    </v-card-title>
                    <v-card-text align="center">
                        With your solution selected, we take care of design, procurement, and installation.
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="2"></v-col>
        </v-row>

        <!-- <v-row justify="center" align="center">
            <v-spacer />

            <v-col cols="4" class="plan">
                <p class="text-h2 text-left small-caps">
                    Identify
                </p>
                <p class="text-h5 font-weight-light mt-5">
                    After fully understanding your problem we set out to find the best solution for you. We always take into
                    account what is most important to you when selecting our solutions and include you in the final
                    decision.
                </p>
            </v-col>

            <v-col cols="3" class="plan">
                <v-img :src="identify" height="300" aspect-ratio="1" style="border-radius: 50px !important;" />
            </v-col>

            <v-spacer />
        </v-row>

        <v-row justify="center" align="center">
            <v-spacer />
            <v-col cols="3" class="plan">
                <v-img :src="execute" height="300" aspect-ratio="1" style="border-radius: 50px !important;" />
            </v-col>

            <v-col cols="4" class="plan">
                <p class="text-h2 text-left small-caps">
                    Execute
                </p>
                <p class="text-h5 font-weight-light mt-5">
                    With your solution selected, we procure all of the electrical & mechanical systems required to bring it
                    to life. Our full-service approach allows you to focus on what’s important to you while we turn your
                    problem into your pride.
                </p>
            </v-col>

            <v-spacer />
        </v-row> -->
    </v-container>

    <v-row class="justify-center align-center mt-10 py-10 bg-primary">
        <v-col cols="12" align="center" class="mb-5">
            <p id="services" class="text-button">Services</p>
        </v-col>

        <v-row align="center" justify="center">
            <v-card color="primary" elevation="0" class="mr-10">
                <v-card-title>Retrofit</v-card-title>
                <v-card-text class="d-flex flex-column">
                    <p><v-icon>mdi-check</v-icon> Data Acquisition</p>
                    <p><v-icon>mdi-check</v-icon> Equipment Control</p>
                    <p><v-icon>mdi-check</v-icon> Automation</p>
                </v-card-text>
            </v-card>

            <v-card color="primary" elevation="0">
                <v-card-title>Maintenance & Repair</v-card-title>
                <v-card-text class="d-flex flex-column">
                    <p><v-icon>mdi-check</v-icon> Electronics Upgrade/Replacement</p>
                    <p><v-icon>mdi-check</v-icon> Controls Troubleshooting</p>
                    <p><v-icon>mdi-check</v-icon> Systems Unification</p>
                </v-card-text>
            </v-card>
        </v-row>
    </v-row>

    <v-container>
        <v-row class="justify-center align-center mt-10 mb-5">
            <p id="about" class="text-button text-primary">About Us</p>
        </v-row>

        <v-row class="justify-center align-center">
            <v-spacer />
            <v-col cols="6">
                <span style="margin-left: 40px">At</span> <strong>Guild Automation</strong> we know you are the kind of
                people who want to be
                proud
                of the products that you
                deliver
                to
                your customers. In order to do that, you need to automate your processes to deliver more consistent
                quality
                with
                higher efficiency. The problem is that your team doesn’t have enough time to implement new technology
                and
                existing solutions are too expensive, which leaves you feeling frustrated and discouraged. We believe
                that
                with
                the accessibility of technology today, nobody should have to struggle with these problems. We know how
                it
                feels
                to be stuck with disparate systems and tedious, difficult tasks.
            </v-col>
            <v-spacer />
        </v-row>

        <v-row class="justify-center align-center mb-5">
            <v-spacer />
            <v-col cols="6">
                <span style="margin-left: 40px">Our</span> passion lies in using technology to
                make a
                positive impact on people's lives. Our experience in custom electronics, software, and mechanical systems
                gives
                us the edge to help you solve your unique challenges. Our simple process is pain free, here’s how it works:
                we
                meet with you on-site to understand your problem; we identify the best solution for you; we execute the plan
                that we develop with you. Stop wasting money on rework and downtime and get the data you need to make
                important
                decisions. Schedule a meeting with us today.
            </v-col>
            <v-spacer />
        </v-row>
    </v-container>
</template>

<script setup>
import header from '@/assets/header.jpg'
import header2 from '@/assets/header2.jpg'
import header3 from '@/assets/header3.jpg'
import header4 from '@/assets/header4.jpg'

import wastedTime from '@/assets/wasted-time.jpg'
import quality from '@/assets/waste.jpg'
import puzzle from '@/assets/puzzle.jpg'

import onsiteMeeting from '@/assets/onsite-meeting.jpg'
import identify from '@/assets/identify.jpg'
import execute from '@/assets/execute.jpg'
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.title {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-variant-caps: small-caps;
    padding: 10px;
}

.subtitle {
    font-weight: medium;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px 20px 0px;
}

.card-title {
    padding: 20px 0px 0px 0px !important;
}

.card-text {
    padding: 5px 0px 0px 0px !important;
}

.about {
    line-height: 1.5em;
}

.plan {
    margin: 10px 20px;
}
</style>