<template>
  <v-container>
    <v-app-bar class="pa-20" elevation="0">
      <template v-slot:prepend>
        <a href=""><img src="@/assets/color_logo_nobg.svg" height="100" aspect-ratio="1" /></a>
      </template>

      <template v-slot:append>
        <a href="#services"><v-btn variant="flat">Services</v-btn></a>
        <a href="#about"><v-btn variant="flat">About</v-btn></a>
        <v-btn color="primary" variant="flat">Contact Us</v-btn>
      </template>
    </v-app-bar>
  </v-container>
</template>

<style scoped>
:deep() .v-toolbar__content {
  padding: 50px !important;
}
</style>