<template>
    <v-footer color="primary">
        <v-row justify="center" no-gutters>
            <v-spacer />

            <v-col cols="3">
                <img src="@/assets/white_logo_nobg.svg" height="100" aspect-ratio="1" />
            </v-col>

            <v-col cols="6" align="center">
                <v-btn v-for="link in links" :key="link" color="white" variant="text" class="mx-2" rounded="xl">
                    {{ link }}
                </v-btn>

                <v-col class="text-center mt-4" cols="12">
                    {{ new Date().getFullYear() }} — <strong>Guild Automation</strong>
                </v-col>
            </v-col>

            <v-spacer />
        </v-row>
    </v-footer>
</template>

<script setup>
const links = [
    'Home',
    'About Us',
    'Team',
    'Services',
    'Blog',
    'Contact Us',
];
</script>
